* {
    font-family: "Montserrat";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    height: inherit;
    max-width: 1170px;
}

.verticial-line {
    margin: 0;
    height: 400px;
    width: 4px;
    background-color: white;
}

/* Mobile */

.hamburger-menu {
    display: none;
    margin-right: 20px;
}

.mobile-nav {
    display: none;
    position: fixed;
    background-color: #101323;
    width: 200px;
    height: 100%;
    right: 0;
    top: 0;
}

.mobile-nav ul {
    margin: 0;
    padding: 25px;
}

.mobile-nav ul li {
    line-height: 30px;
    list-style-type: none;
}

.mobile-nav ul li a {
    font-weight: 400;
    color: white;
    text-decoration: none;
}

/*Header*/

.header {
    height: 80px;
    width: 100%;
    background-color: #101323;
}

.header-inner {
    height: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link {
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 700;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link:hover {
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    color: aqua;
}

/* Intro */

.intro {
    background-color: white;
    width: 100%;
    height: 853px;
    background: url("../img/intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-inner {
    z-index: 1000;
    width: 100%;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}

.intro-title {
    margin-right: 100px;
    width: 50%;
    text-align: right;
    font-size: 60px;
    color: white;
}

.intro-text {
    font-weight: 300;
    margin-left: 100px;
    width: 50%;
    text-align: left;
    font-size: 25px;
    color: white;
}

/*About Me*/

.about-me {
    background-color: #f2f4f3;
    width: 100%;
    height: 500px;
}

.about-me-inner {
    padding: 40px;
    margin: 0;
    width: 100%;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about-me-text {
    margin-right: 50px;
    width: 50%;
    color: black;
}

.about-me-text h4 {
    margin-bottom: 20px;
    font-size: 60px;
    color: #00d7fe;
}

.about-me-experience {
    margin-left: 50px;
    text-align: left;
    width: 50%;
}

.about-me-experience progress {
    background-color: #39b4af;
    width: 500px;
    height: 4px;
    display: inline-block;
    margin-bottom: 45px;
    margin-top: 20px;
}

.about-me-experience progress::-webkit-progress-value {
    background-color: #00d7fe;
}

.about-me-experience progress::-webkit-progress-bar {
    background-color: #d8d8d8;
}

.experience-text {
    margin-left: 20px;
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 18px;
}

.experience-text2 {
    margin-left: 20px;
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 18px;
}

.experience-text3 {
    margin-left: 20px;
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 18px;
}

/*What I Do*/

.what-i-do {
    background-color: white;
    width: 100%;
    height: auto;
}

.what-i-do .container {
    max-width: 800px;
}

.what-i-do-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: inherit;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.what-i-do-text {
    text-align: center;
    width: 100%;
}

.what-i-do-text h4 {
    margin: 40px 0;
    font-size: 60px;
    color: #00d7fe;
}

.what-i-do-experience {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
}

.experience-blocks {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.experience-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-box-shadow: 0 0 10px aqua;
    box-shadow: 0 0 20px aqua;
    background-color: #f2f4f3;
    width: 225px;
    height: 275px;
}

.exp-block-text {
    font-size: 25px;
    font-weight: 700;
    color: black;
}

/*Portfolio*/

.portfolio {
    background-color: #f2f4f3;
    height: auto;
    width: 100%;
}

.portfolio-inner {
    width: 100%;
    padding: 40px 300px;
    height: 100%;
    margin: 0;
}

.portfolio-title {
    margin-bottom: 20px;
    color: #00d7fe;
    text-align: center;
    font-size: 60px;
    width: 100%;
}

.portfolio-box {
    margin-bottom: 20px;
    background-color: black;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box-card {
    outline: none;
    margin: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33.3%;
    height: 300px;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
}

.card-text {
    padding: 0 20px;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    font-size: 18px;
    color: white;
}

.box-card:hover {
    opacity: 0.7;
}

.box-card:hover .card-text {
    text-shadow: 1px 1px 1px black;
    opacity: 1;
}

/*Contact us*/

.contact-us {
    background-color: white;
    width: 100%;
    height: auto;
}

.contact-us .container {
    max-width: 1000px;
}

.contact-us-inner {
    width: 100%;
    padding: 40px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-us-title {
    color: #00d7fe;
    text-align: center;
    font-size: 60px;
    width: 100%;
}

.contact-us-form {
    height: auto;
    margin: 20px 0 0 0;
    width: 50%;
}

.name-form {
    color: dimgrey;
    padding: 0 10px;
    outline: none;
    background-color: #f2f4f3;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border: 1px solid transparent;
    height: 30px;
    width: 40%;
}

.name-form:focus {
    border-color: black;
}

.email-form {
    color: dimgrey;
    padding: 0 10px;
    margin: 0 20px;
    outline: none;
    background-color: #f2f4f3;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border: 1px solid transparent;
    height: 30px;
    width: 40%;
}

.email-form:focus {
    border-color: black;
}

.msg-form {
    resize: none;
    color: dimgrey;
    outline: none;
    background-color: #f2f4f3;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border: 1px solid transparent;
    height: 150px;
    width: 86%;
    margin-top: 20px;
    padding: 10px;
}

.msg-form:focus {
    border-color: black;
}

.send {
    margin-top: 20px;
}

.send input {
    margin-bottom: 20px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
    outline: none;
    background-color: #00d7fe;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 25px;
    width: 150px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.send input:hover {
    color: black;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #00d7fe;
    box-shadow: 0 0 10px #00d7fe;
}

.contact-us-text {
    padding: 20px;
    height: auto;
    font-size: 18px;
    width: 50%;
}

/*Footer*/

.footer {
    height: 80px;
    width: 100%;
    background-color: #101323;
}

.footer-inner {
    height: inherit;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.copyrights {
    color: white;
}

@media (max-width: 991px) {
    .container {
        width: auto;
    }

    .hamburger-menu {
        display: block;
    }

    /*    Header*/

    .header-nav {
        display: none;
    }

    .header-logo {
        margin-left: 20px;
    }

    /*    Intro*/

    .intro-inner {
        padding: 100px 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .intro-title {
        margin: 0;
        font-size: 40px;
        text-align: center;
        width: 100%;
    }

    .intro-text {
        font-size: 14px;
        margin: 20px;
        text-align: center;
        width: 100%;
    }

    .verticial-line {
        display: none;
    }

    .intro {
        height: auto;
    }

    /* About Me */

    .about-me {
        height: auto;
    }

    .about-me-inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .about-me-experience {
        margin: 20px 0;
        text-align: center;
        width: 100%;
    }

    .about-me-experience progress {
        display: none;
    }

    .experience-text {
        margin-left: 0;
        font-size: 14px;
    }

    .experience-text2 {
        margin-left: 0;
        font-size: 14px;
    }

    .experience-text3 {
        margin-left: 0;
        font-size: 14px;
    }

    .about-me-text {
        margin-right: 0;
        text-align: center;
        width: 100%;
    }

    .about-me-text h4 {
        margin-bottom: 20px;
        font-size: 40px;
    }

    /*    What I Do*/

    .what-i-do-text {
        margin: 0 20px;
        text-align: center;
        width: 100%;
    }

    .what-i-do-text h4 {
        font-size: 40px;
    }

    .exp-block-text {
        font-size: 14px;
    }

    .experience-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 200px;
        height: 100px;
    }
    .experience-blocks {
        margin: 20px 0;
        width: 100%;
        height: 100px;
    }

    .what-i-do-experience {
        font-weight: 500;
        padding: 20px 0;
    }

/*    Portfolio*/

    .portfolio-inner {
        padding: 20px 20px;
    }
    
    .portfolio-title {
        margin-bottom: 20px;
        font-size: 40px;
    }
    
    .box-card {
        width: 100%;
    }
    

/*    Contact Us*/
    
    .contact-us .container {
        width: 100%;
    }
    
    .contact-us-title {
        margin-bottom: 20px;
        font-size: 40px;
    }
    
    .contact-us-inner {
        padding: 20px;
    }
    .name-form {
        width: 60%;
        margin-bottom: 20px;     
    }
    .email-form {

        width: 100%;
        margin: 0;
    }
    
    .contact-us-text {
        font-size: 14px;
    }
    
    .send input {
        width: 60%;
    }

    /*    Footer*/

    .copyrights {
        font-weight: 500;
        font-size: 14px;
    }
}

/*Main*/

main.active {
    left: -200px;
}

main {
    position: relative;
    background-color: white;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    left: 0px;
}
